awx_kubeconfig: ""
awx_chart_version: ""
s3_bucket_name_for_results: ""
s3_endpoint_url: ""
controller_host: null
controller_username: null
controller_password: null
ssl_verify: False
git:
  it_automation_bench_local_path: ""
  it_automation_bench_scm_url: "https://github.com/IBM/ITBench-Scenarios.git"
  it_sre_agent_scm_url: "https://github.com/IBM/ITBench-SRE-Agent.git"
  deploy_key_it_automation_bench_private_ssh_key_path: ""
  deploy_key_it_automation_bench_private_ssh_key_passphrase: ""
  deploy_key_agent_private_ssh_key_path: ""
  deploy_key_agent_private_ssh_key_passphrase: ""
  deploy_key_agent_analytics_sdk_private_ssh_key_path: ""
  deploy_key_agent_analytics_sdk_ssh_key_passphrase: ""

aws:
  access_key_id: ""
  secret_access_key: ""

kops:
  s3_bucket_name: ""

scenarios:
  - 1
  - 2
  - 5

# Defaults to 20 if not defined
number_of_runs: 20

# Defaults to all (metrics, logs, traces) if not defined
data_modalities:
  - metrics
  - traces
  - logs

# Agent Configuration
agent_configuration:
  agents_config:
    provider: ""
    model: ""
    url: ""
    api_key: "" # pragma: allowlist secret
    api_version: ""
    seed: ""
    top_p: ""
    temperature: ""
    reasoning_effort: ""
    thinking: ""
    thinking_budget: 0
    max_tokens: 0
    model_embedding: ""
    url_embedding: ""
    api_version_embedding: ""
    god_mode: true
  tools_config:
    provider: ""
    model: ""
    url: ""
    api_key: "" # pragma: allowlist secret
    api_version: ""
    seed: ""
    top_p: ""
    temperature: ""
    reasoning_effort: ""
    thinking: ""
    thinking_budget: 0
    max_tokens: 0
  watsonx_config:
    wx_project_id: ""
  agent_analytics_sdk:
    git_token: ""
    git_username: ""
  # Not supported - defaults to all
  # enable_tools:
  #   - NL2Kubectl
  # # Toggling not supported at this time. Defaults to true
  # enable_tools_with_reflection: true
