---
- name: Document this fault injection
  set_fact:
    injection_docs: "{{ injection_docs | default([]) + [curr_docs] }}"
  vars:
    curr_docs:
      name: "Unsupported Checkout Image"
      author: "@fali007"
      description: "modify the checkoutservice image to unsupported image (arm64) instead of amd64 image"
      application: "otel_astronomy_shop"
      fault_type: "Custom"
      required_fields:
        - "deployment_info.resources[0].spec.template.spec.containers[0].name"
        - "otel_astronomy_app_namespace_project_name"
        - "target_deployment_name"
  tags:
    - injection_docs

# Note: This incident assumes that the worker nodes all have the same architecture.

- name: Retrieve worker nodes on the cluster
  kubernetes.core.k8s_info:
    kubeconfig: "{{ kubeconfig }}"
    api_version: v1
    kind: Node
    label_selectors:
      - node-role.kubernetes.io/node =
  register: nodes_info
  tags:
    - incident_23
  when:
    - is_image_unsupported
    - is_fault_injection

- name: Parse worker node architectures
  ansible.builtin.set_fact:
    node_architectures: "{{ nodes_info | community.general.json_query('resources[*].status.nodeInfo.architecture') }}"
  tags:
    - incident_23
  when:
    - is_image_unsupported
    - is_fault_injection

- name: Filter available architectures
  ansible.builtin.set_fact:
    architectures: "{{ node_architectures | intersect(['amd64', 'arm64']) }}"
  tags:
    - incident_23
  when:
    - is_image_unsupported
    - is_fault_injection

- name: Set which unsupported image to use
  ansible.builtin.set_fact:
    image_arch: "{{ ['amd64', 'arm64'] | difference(architectures) | first }}"
  tags:
    - incident_23
  when:
    - is_image_unsupported
    - is_fault_injection

- name: Injecting Unsupported Image Fault
  kubernetes.core.k8s_json_patch:
    api_version: apps/v1
    kind: Deployment
    kubeconfig: "{{ kubeconfig }}"
    name: "{{ target_deployment_name }}"
    namespace: "{{ otel_astronomy_app_namespace_project_name }}"
    patch:
      - op: replace
        path: /spec/template/spec/containers/0/image
        value: quay.io/it-bench/unsupported-checkout-service-{{ image_arch }}:0.0.2
  tags:
    - incident_23
  when:
    - is_image_unsupported
    - is_fault_injection

- name: Removing Unsupported Image Fault
  ansible.builtin.shell: "KUBECONFIG={{ kubeconfig }} kubectl rollout undo deployment/{{ target_deployment_name }} -n {{ otel_astronomy_app_namespace_project_name }}"
  tags:
    - incident_23
  when:
    - is_image_unsupported
    - is_fault_removal
