argcomplete==3.5.3
certifi==2025.1.31
cfgv==3.4.0
charset-normalizer==3.4.1
colorama==0.4.6
commitizen==4.4.1
decli==0.6.2
detect-secrets==1.5.0
distlib==0.3.9
filelock==3.18.0
identify==2.6.9
idna==3.10
Jinja2==3.1.6
MarkupSafe==3.0.2
nodeenv==1.9.1
packaging==24.2
platformdirs==4.3.7
pre_commit==4.2.0
prompt_toolkit==3.0.50
PyYAML==6.0.2
questionary==2.1.0
requests==2.32.3
termcolor==2.5.0
tomlkit==0.13.2
urllib3==2.3.0
virtualenv==20.29.3
wcwidth==0.2.13
