---
- name: Deploy OpenCost
  kubernetes.core.helm:
    name: "{{ opencost_installation_name }}"
    kubeconfig_path: "{{ kubeconfig }}"
    chart_ref: opencost-charts/opencost
    chart_version: "{{ opencost_chart_version }}"
    release_namespace: "{{ opencost_namespace_project_name }}"
    release_state: present
    create_namespace: true
    values:
      networkPolicies:
        enabled: true
        prometheus:
          namespace: "{{ prometheus_namespace_project_name }}"
      opencost:
        customPricing:
          enabled: true
          createConfigmap: true
          provider: custom
          costModel:
            description: Modified pricing configuration.
            CPU: 10.00
            spotCPU: 7.50
            RAM: 5.00
            spotRAM: 2.50
            GPU: 50.00
            storage: 2.50
            zoneNetworkEgress: 1.00
            regionNetworkEgress: 1.00
            internetNetworkEgress: 1.00
        exporter:
          extraEnv:
            USE_CUSTOM_PROVIDER: true
        prometheus:
          external:
            enabled: true
            url: "http://{{ prometheus_service_name }}.{{ prometheus_namespace_project_name }}.svc.cluster.local:80"
          internal:
            enabled: false
        ui:
          ingress:
            enabled: true
            hosts:
              - host: null
                paths:
                  - /
                  # - /{{ opencost_namespace_project_name }}(/|$)(.*)
            ingressClassName: nginx
