---
- name: Deploy Elasticsearch
  kubernetes.core.helm:
    name: "{{ es_installation_name }}"
    kubeconfig_path: "{{ kubeconfig }}"
    chart_ref: bitnami/elasticsearch
    chart_version: "{{ es_chart_version }}"
    release_namespace: "{{ es_namespace_project_name }}"
    release_state: present
    wait: true
    timeout: 10m0s
    create_namespace: true
    values:
      master:
        replicaCount: 1
        heapSize: 384m
        persistence:
          size: "8Gi"
      data:
        replicaCount: 1
        persistence:
          size: "8Gi"
        resources:
          limits:
            memory: "3Gi"
      coordinating:
        replicaCount: 1
      ingest:
        replicaCount: 1
