- name: Jaeger
  uid: jaeger
  type: jaeger
  access: proxy
  url: http://{{ opentelemetry_operator_collector_jaeger_name }}-collector.{{ opentelemetry_operator_collectors_namespace }}.svc.cluster.local:4318
  user: ""
  database: ""
  basicAuth: false
  isDefault: false
  jsonData:
    tracesToMetrics:
      datasourceUid: prometheus
      queries: []
      tags: []
