- name: Loki
  uid: loki
  type: loki
  access: proxy
  url: http://{{ loki_installation_name }}-gateway.{{ loki_namespace_project_name }}.svc.cluster.local
  user: ""
  database: ""
  basicAuth: false
  isDefault: false
  jsonData: 
    tlsAuth: false
    tlsSkipVerify: false
    manageAlerts: false