- name: Clickhouse
  uid: clickhouse
  type: vertamedia-clickhouse-datasource
  access: proxy
  url: http://clickhouse-{{ clickhouse_installation_name }}.{{ clickhouse_namespace_project_name }}.svc.cluster.local:8123
  basicAuth: true
  basicAuthUser: "{{ clickhouse_user }}"
  isDefault: false
  jsonData:
    tlsAuth: false
    tlsSkipVerify: true
  secureJsonData:
    basicAuthPassword: "{{ clickhouse_password }}"
