- name: Jaeger
  uid: jaeger
  type: jaeger
  access: proxy
  url: http://{{ jaeger_installation_name }}-query.{{ jaeger_namespace_project_name }}.svc.cluster.local:80
  user: ""
  database: ""
  basicAuth: false
  isDefault: false
  jsonData:
    tracesToMetrics: 
      datasourceUid: prometheus
      queries: []
      tags: []
    