- name: Opensearch
  uid: opensearch
  type: grafana-opensearch-datasource
  access: proxy
  url: http://opensearch-cluster-master.{{ opensearch_namespace_project_name }}.svc.cluster.local:9200
  basicAuth: false
  isDefault: false
  jsonData: 
    database: otel
    flavor: opensearch
    logLevelField: severity
    logMessageField: body
    pplEnabled: true
    timeField: observedTimestamp
    tlsAuth: false
    tlsSkipVerify: true
    version: "{{ opensearch_version_number }}"