---
apiVersion: v1
kind: Namespace
metadata:
  name: "{{ ingress_namespace_project_name }}"
---
apiVersion: v1
kind: Namespace
metadata:
  name: "{{ clickhouse_namespace_project_name }}"
---
apiVersion: v1
kind: Namespace
metadata:
  name: "{{ opensearch_namespace_project_name }}"
---
apiVersion: v1
kind: Namespace
metadata:
  name: "{{ opentelemetry_operator_namespace_project_name }}"
---
apiVersion: v1
kind: Namespace
metadata:
  name: "{{ opentelemetry_operator_collectors_namespace }}"
---
apiVersion: v1
kind: Namespace
metadata:
  name: "{{ opencost_namespace_project_name }}"
---
apiVersion: v1
kind: Namespace
metadata:
  name: "{{ prometheus_namespace_project_name }}"
---
apiVersion: v1
kind: Namespace
metadata:
  name: "{{ metrics_server_namespace_project_name }}"
