service:
  extensions:
    - jaeger_storage
{% if enable_jaeger_query_endpoint %}
    - jaeger_query
{% endif %}
  pipelines:
    traces:
      receivers:
        - otlp
      exporters:
        - debug
        - jaeger_storage_exporter
extensions:
{% if enable_jaeger_query_endpoint %}
  jaeger_query:
    base_path: /jaeger
    storage:
      traces: traces_store
{% endif %}
  jaeger_storage:
    backends:
      traces_store:
        opensearch:
          server_urls:
            - http://opensearch-cluster-master.{{ opensearch_namespace_project_name }}.svc.cluster.local:9200
receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318
exporters:
  debug: {}
  jaeger_storage_exporter:
    trace_storage: traces_store
