---
- ansible.builtin.import_tasks: 
    file: install_astronomy_shop.yaml
  tags:
    - install_sample_applications
  when:
    - sample_application == "otel_astronomy_shop"

- ansible.builtin.import_tasks: 
    file: uninstall_astronomy_shop.yaml
  tags:
    - uninstall_sample_applications
  when:
    - sample_application == "otel_astronomy_shop"

- ansible.builtin.import_tasks: 
    file: install_deathstarbench_hotel_reservation.yaml
  tags:
    - install_sample_applications
  when:
    - sample_application == "dsb_hotel_reservation"

- ansible.builtin.import_tasks: 
    file: uninstall_deathstarbench_hotel_reservation.yaml
  tags:
    - uninstall_sample_applications
  when:
    - sample_application == "dsb_hotel_reservation"

- ansible.builtin.import_tasks: 
    file: install_elasticsearch_cluster.yaml
  tags:
    - install_sample_applications
  when:
    - sample_application == "elasticsearch"

- ansible.builtin.import_tasks: 
    file: uninstall_elasticsearch_cluster.yaml
  tags:
    - uninstall_sample_applications
  when:
    - sample_application == "elasticsearch"

- ansible.builtin.import_tasks: 
    file: register_deployment_time.yaml
    
- ansible.builtin.import_tasks: 
    file: register_deployment_failure.yaml
